DB_HOST=postgres-tictactoe
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=1234
DB_NAME=tictactoe
JWT_ACCESS=34rC85kW?p_Rz;vYm^Zr!1d^2A#2>sgkFr7@e%1t/$9
JWT_REFRESH=qB|yWUKRL@$Pr]j_^Iepq}rlWK4JolQQ,OSFA5<K}gL